<div>
    <form [formGroup]="formThree">
        <div class="card mb-3">
            <div class="card-header">
                Guarantor Details
            </div>
            <div class="card-body">
                Personal Details
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Relationship <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose Relationship</mat-label>
                        <mat-select formControlName="relationship">
                            <mat-option>Choose</mat-option>
                            <mat-option value="family">Family</mat-option>
                            <mat-option value="friend">Friend</mat-option>
                            <mat-option value="relatedentity">Related Entity</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formThree.controls['relationship'].hasError('required')">Please choose
                            Relationship</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Salutation <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Salutation</mat-label>
                        <mat-select formControlName="salutation" required>
                            <mat-option>Select Salutation</mat-option>
                            <mat-option value="mr">Mr</mat-option>
                            <mat-option value="mrs">Mrs</mat-option>
                            <mat-option value="ms">Ms</mat-option>
                            <mat-option value="miss">Miss</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formThree.controls['salutation'].invalid"> Salutation is required </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>First Name <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="First Name" formControlName="firstName" required>
                        <mat-error *ngIf="formThree.controls['firstName'].invalid">First name is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Last Name <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Last Name" formControlName="lastName" required>
                        <mat-error *ngIf="formThree.controls['lastName'].invalid">Last name is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Title/Role <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Title/Role</mat-label>
                        <mat-select formControlName="titleRole">
                            <mat-option>Select</mat-option>
                            <mat-option value="self">Self</mat-option>
                            <mat-option value="otherindividual">Other individual</mat-option>
                            <mat-option value="director">Director</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formThree.controls['titleRole'].hasError('required')">Please choose Role
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                <label>Google Address</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Search Address" appGooglePlaces (onSelect)="setAddress($event)" #address>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Address <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Address" formControlName="address" (change)="checkAddress()"
                            required>
                        <mat-error *ngIf="formThree.controls['address'].invalid"> Address is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>City <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="City" formControlName="city" required>
                        <mat-error *ngIf="formThree.controls['city'].invalid"> City is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>State/Province/Territory <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Select state</mat-label>
                        <mat-select formControlName="stateProvinceTerritory">
                            <mat-option>Select state</mat-option>
                            <mat-option *ngFor="let state of formService.states" [value]="state.abbreviation">{{state.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formThree.controls['stateProvinceTerritory'].invalid"> State is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Postcode <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Postcode" formControlName="postCode" required type="number">
                        <mat-error
                            *ngIf="formThree.controls['postCode'].invalid && formThree.controls['postCode'].value != ''">
                            invalid postcode</mat-error>
                        <mat-error
                            *ngIf="formThree.controls['postCode'].invalid && formThree.controls['postCode'].value == ''">
                            Postcode is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Email Address</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="example@email.com" formControlName="emailAddress">
                        <mat-error *ngIf="formThree.controls['emailAddress'].invalid">invalid email address</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Phone Number</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <span matPrefix>+61&nbsp;</span>
                        <input matInput placeholder="Ex: +614xxxxxxxx" (change)="checkPhone()" formControlName="phoneNumber" type="string">
                        <mat-error *ngIf="formThree.controls['phoneNumber'].invalid">invalid phone number</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>DOB <span class="text-danger">*</span></label>
                <div class="example-container">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Choose a date of birth</mat-label>
                        <input matInput [matDatepicker]="dob" formControlName="DOB" (dateChange)="checkDate()"
                            required>
                        <mat-error
                            *ngIf="formThree.controls['DOB'].invalid && formThree.controls['DOB'].value == ''">
                            DOB is required</mat-error>
                        <mat-error
                            *ngIf="formThree.controls['DOB'].invalid && formThree.controls['DOB'].value != ''">
                            Guarantor should be more than 18 years old</mat-error>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #dob></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="mb-2 mt-3">
            <h3 for="">Identity Details</h3>
        </div>

        <div class="row">
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Passport ID</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Passport ID" formControlName="passportId">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Name on Passport</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Name on Passport" formControlName="nameOnPassport">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Passport Expiry</label>
                <div class="example-container">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Choose Expiry date</mat-label>
                        <input matInput [matDatepicker]="passportExpiry" formControlName="passportExpiry" (dateChange)="onDateChange('passportExpiry')">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="passportExpiry"></mat-datepicker-toggle>
                        <mat-datepicker #passportExpiry></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Drivers License ID</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Drivers License ID" formControlName="driverlicenseId">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Name on DL</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Name on DL" formControlName="nameOnDl">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>State of Issuance</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Select state</mat-label>
                        <mat-select formControlName="stateOfIssuance">
                            <mat-option>Select state</mat-option>
                            <mat-option *ngFor="let state of formService.states" [value]="state.name">{{state.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Australian Business Number</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Australian Business Number" formControlName="australianBusinessNumber">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group col-md-4 col-lg-3 col-sm-6">
                <label>Tax File Number</label>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Tax File Number" formControlName="taxFileNumber">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <app-form-seven></app-form-seven>
        <button mat-raised-button matStepperPrevious color="primary" id="backButton">Back</button>
        <button class="ml-2" mat-raised-button matStepperNext color="primary" (click)="next()">Next</button>
    </form>
</div>