
.fileName{
    white-space: nowrap;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px gray;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row{
    padding: 1rem 1rem;
    box-shadow: 0px 0px 10px 2px darkgrey;
    background: white !important;
}
.borrowerParties{
    background: darkgray;
    width: 100%;
    padding: 7px;
    color: white;
}
h4{
    margin: 0 !important;
}
.container{
    padding:0 !important;
}