<form>
    <app-hash></app-hash>
    <div class="mb-2 mt-2">
        <h3 for="">Documents</h3>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 mt-4">
            <div class="form-group col-md-6 col-lg-12 col-sm-6">
                <label>F&F (RTP) Subscription (DFS)</label>
                <div class="example-container mt-2">
                    <input class="form-control" (change)="onFileChange($event,'F_AND_F_ODF_SUPPLE_IM' , file1)" type="file"
                        #file1 multiple>
                        <div class="progress mt-2" *ngIf="progress > 0 && fieldName == 'F_AND_F_ODF_SUPPLE_IM'" >
                            <div class="progress-bar" role="progressbar"[style.backgroundColor]="updateColor(progress)" [style.width.%]="progress" aria-valuemin="0"
                                aria-valuemax="100">{{progress}}%</div>
                        </div>
                    <div class="mt-2 " *ngIf="propertyDocuments.controls['F_AND_F_ODF_SUPPLE_IM'].value['documentName']">
                        {{propertyDocuments.controls['F_AND_F_ODF_SUPPLE_IM'].value['documentName']}}</div>
                    <div class="mt-2 " *ngIf="!propertyDocuments.controls['F_AND_F_ODF_SUPPLE_IM'].value['documentName']">
                        {{getFileName(file1)}}</div>
                </div>
            </div>

            <div class="form-group col-md-6 col-lg-12 col-sm-6">
                <label>Direct Debit Authority (DDA)</label>
                <div class="example-container mt-2">
                    <input class="form-control" (change)="onFileChange($event,'DIRECT_DEBIT_AUTHORITY',file2)" type="file"
                        #file2 multiple>
                        <div class="progress mt-2" *ngIf="progress > 0 && fieldName == 'DIRECT_DEBIT_AUTHORITY'" >
                            <div class="progress-bar" role="progressbar"[style.backgroundColor]="updateColor(progress)" [style.width.%]="progress" aria-valuemin="0"
                                aria-valuemax="100">{{progress}}%</div>
                        </div>
                        <div class="mt-2 " *ngIf="propertyDocuments.controls['DIRECT_DEBIT_AUTHORITY'].value['documentName']">
                            {{propertyDocuments.controls['DIRECT_DEBIT_AUTHORITY'].value['documentName']}}</div>
                        <div class="mt-2 " *ngIf="!propertyDocuments.controls['DIRECT_DEBIT_AUTHORITY'].value['documentName']">
                            {{getFileName(file1)}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-4">
            <div class="form-group col-md-6 col-lg-12 col-sm-6">
                <label>Deed Of Guarantee (DOG)</label>
                <div class="example-container mt-2">
                    <input class="form-control" (change)="onFileChange($event,'DEED_OF_GUARANTEE',file3)" type="file" #file3 multiple>
                    <div class="progress mt-2" *ngIf="progress > 0 && fieldName == 'DEED_OF_GUARANTEE'" >
                        <div class="progress-bar" role="progressbar"[style.backgroundColor]="updateColor(progress)" [style.width.%]="progress" aria-valuemin="0"
                            aria-valuemax="100">{{progress}}%</div>
                    </div>
                    <div class="mt-2 " *ngIf="propertyDocuments.controls['DEED_OF_GUARANTEE'].value['documentName']">
                        {{propertyDocuments.controls['DEED_OF_GUARANTEE'].value['documentName']}}</div>
                    <div class="mt-2 " *ngIf="!propertyDocuments.controls['DEED_OF_GUARANTEE'].value['documentName']">{{getFileName(file1)}}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-12 mt-4" *ngIf="(additionalDocuments | json) != '{}'">
            <div class="form-group col-md-6 col-lg-12 col-sm-6">
                <label>Additional Documents</label>
                <div class="example-container mt-2" *ngFor="let doc of additionalDocuments | keyvalue">
                    <div class="mt-2 col-6 fileName">{{doc.key}} <mat-icon class="text-danger" (click)="deleteDoc(doc.key)">delete_forever</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <form action="" [formGroup]="additionalDocForm">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Additional Documents</legend>
                    <div class="form-group col-md-6 col-lg-6 col-sm-12">
                        <div class="mt-2">
                            <label for="">Title <span class="text-danger">*</span></label>
                            <div class="example-container col-lg-6 col-md-6 col-sm-12 p-0">
                                <input class="form-control" formControlName="title" placeholder="Title of Document"
                                    type="text" required>
                                <mat-error *ngIf="additionalDocForm.controls['title'].touched && additionalDocForm.controls['title'].invalid">Title is required
                                </mat-error>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label>File</label>
                            <div class="example-container">
                                <input class="form-control" formControlName="additionalDoc" (change)="validateFile(file4)"  type="file"
                                    #file4>
                                    <div class="progress mt-2" *ngIf="progress > 0 && fieldName == 'additionalDoc'">
                                        <div class="progress-bar" role="progressbar" [style.backgroundColor]="updateColor(progress)"
                                            [style.width.%]="progress" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
                                    </div>
                                <div class="mt-2">{{getFileName(file4)}}</div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-success" (click)="onFileChange(file4,'additionalDoc',file4)"
                                [disabled]="additionalDocForm.invalid">Add Additional Document</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</form>