<div class="container">
  <mat-card class="example-card">
    <mat-card-content class="d-flex flex-column justify-content-center align-items-center">
      <div>
        <mat-icon class="w-100 text-success mt-2">check_circle</mat-icon>
      </div>
      <div>
        <p class="message">Supporting details submitted <br> successfully!</p>
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button mat-raised-button color="primary" class="mb-4" (click)="back()">back to form</button>
    </mat-card-actions>
  </mat-card>
</div>